<% set_meta_tags title: '手放し済みアイテム一覧ページ' %>
<% content_for :title do %>
  <%= link_to new_done_letting_go_item_path, class: 'text-reset' do %>
    <nobr>手放し済み リスト<i class="fas fa-plus-circle ms-2 font-20 btn-group-vertical color-orange-light opacity-75"></i></nobr>
  <% end %>
<% end %>

<div class="card card-style">
  <div class="content">
    <%= '手放したものを登録してください。' if @done_letting_go_items.blank? %>
    <% @done_letting_go_items.each_with_index do |done_letting_go_item, index| %>
      <%= link_to done_letting_go_item_path(done_letting_go_item), class: 'text-reset d-flex' do %>
        <div class="d-flex mb-3">
          <div class="ms-auto">
            <%= image_tag done_letting_go_item.decorate.img(:thumb), size: '90x90', class: 'rounded-m bg-gray-light' %>
          </div>
          <div class="w-100 px-2">
            <h5><%= done_letting_go_item.decorate.item_name %></h5>
            <span class="badge color-white bg-teal-dark"><%= done_letting_go_item.category.name %></span>
            <span class="badge color-white bg-blue-light"><%= done_letting_go_item.reason.name %></span><br>
            <span class="badge color-white bg-highlight-dark"><%= done_letting_go_item.letting_go_way.name %></span><br>
          </div>
          <div class="ms-auto text-end">
            <%= link_to edit_done_letting_go_item_path(done_letting_go_item), class: 'text-reset edit-link' do %>
              <i class="fas fa-edit"></i>
            <% end %><br>
            <%= link_to done_letting_go_item_path(done_letting_go_item),
                        data: { turbo_method: :delete, turbo_confirm: '削除しますか？' }, class: 'text-reset delete-link' do %>
              <i class="far fa-times-circle mt-5"></i>
            <% end %>
          </div>
        </div>
      <% end %>
      <% if index < @done_letting_go_items.size - 1 %>
        <div class="divider mb-3"></div>
      <% end %>
    <% end %>
  </div>
</div>
<%= paginate @done_letting_go_items %>
