<% set_meta_tags title: 'ログインページ' %>
<% content_for :title, 'ログイン画面' %>

<div class="card card-style">
  <div class="content">
    <p>メールアドレス、パスワードを入力してください。</p>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false }) do |f| %>
      <div class="field input-style has-borders has-icon validate-field mb-4">
        <i class="fa fa-envelope"></i>
        <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control validate-text',
                                  placeholder: 'email' %>
        <%= f.label :email, class: 'color-highlight' %>
        <i class="fa fa-times disabled invalid color-red-dark"></i>
        <i class="fa fa-check disabled valid color-green-dark"></i>
        <em>(required)</em>
      </div>

      <div class="field input-style has-borders has-icon validate-field mb-4">
        <i class="fa fa-lock"></i>
        <%= f.password_field :password, autocomplete: 'new-password', class: 'form-control validate-text',
                                        placeholder: 'password' %>
        <%= f.label :password, class: 'color-highlight' %>
        <i class="fa fa-times disabled invalid color-red-dark"></i>
        <i class="fa fa-check disabled valid color-green-dark"></i>
        <em>(required)</em>
      </div>

      <div class="actions">
        <%= f.submit 'Log in',
                     class: 'btn btn-border btn-m btn-full mb-3 rounded-sm text-uppercase font-700 border-green-dark color-green-dark bg-theme',
                     style: 'width: 100%' %>
      </div>
    <% end %>

    <%= render 'users/shared/links' %>

  </div>
</div>
