<%= form_with model: to_let_go_item do |f| %>

  <% if to_let_go_item.persisted? %>
    <div class="text-center mb-1">
      <%= image_tag to_let_go_item.decorate.img(:lg), size: '200x200', class: 'rounded-m' %>
    </div>
  <% end %>
  <div class="file-data pb-5">
    <%= f.file_field :image, accept: 'image/*', capture: 'camera', class: 'upload-file bg-highlight shadow-s rounded-s' %>
    <p class="upload-file-text color-white"><i class="fas fa-camera"></i> アップロード </p>
  </div>

  <div class="input-style no-borders no-icon mb-4">
    <%= f.label :category_id, class: 'color-highlight' %>
    <%= f.collection_select :category_id, Category.all, :id, :name, prompt: 'カテゴリーを選択する' %>
    <span><i class="fa fa-chevron-down"></i></span>
    <em></em>
  </div>

  <div class="input-style no-borders no-icon mb-4">
    <%= f.text_field :name, class: 'form-control', placeholder: 'モノの名前' %>
    <%= f.label :name, class: 'color-highlight' %>
  </div>

  <div class="input-style no-borders no-icon mb-4">
    <%= f.label :reason_id, class: 'color-highlight' %>
    <%= f.collection_select :reason_id, Reason.all, :id, :name, prompt: '手放す理由を選択する' %>
    <span><i class="fa fa-chevron-down"></i></span>
    <em></em>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-border btn-m btn-full mb-3 rounded-sm text-uppercase font-700 border-green-dark color-green-dark bg-theme',
                 style: 'width: 100%' %>
  </div>
<% end %>
