<% set_meta_tags title: '手放したいもの一覧ページ' %>
<% content_for :title do %>
  <%= link_to new_to_let_go_item_path, class: 'text-reset' do %>
    <nobr>手放したいものリスト<i class="fas fa-plus-circle ms-2 font-20 btn-group-vertical color-orange-light opacity-75"></i></nobr>
  <% end %>
<% end %>

<div class="text-center mb-3">
  <span class="badge color-white bg-teal-dark me-3">カテゴリー <i class="fas fa-chevron-down font-8 ms-2"></i></span>
  <span class="badge color-white bg-blue-light">手放す理由 <i class="fas fa-chevron-down font-8 ms-2"></i></span>
</div>
<div class="card card-style">
  <div class="content">
    <%= '手放したいものを登録してください。' if @to_let_go_items.blank? %>
    <% @to_let_go_items.each_with_index do |to_let_go_item, index| %>
      <%= link_to to_let_go_item_path(to_let_go_item), class: 'text-reset' do %>
        <div class="d-flex mb-3">
          <div class="ms-auto">
            <%= image_tag to_let_go_item.decorate.img(:thumb), size: '90x90', class: 'rounded-m bg-gray-light' %>
          </div>
          <div class="w-100 px-2">
            <h5><%= to_let_go_item.decorate.item_name %></h5>
            <span class="badge color-white bg-teal-dark"><%= to_let_go_item.category.name %></span>
            <span class="badge color-white bg-blue-light"><%= to_let_go_item.reason.name %></span><br>
            <%= link_to '手放す！', new_done_letting_go_item_path(item_id: to_let_go_item.id),
                        class: 'btn btn-border btn-s btn-full font-700 border-green-dark color-green-dark bg-theme mt-2' %>
          </div>
          <div class="my-auto text-end">
            <%= link_to edit_to_let_go_item_path(to_let_go_item), class: 'text-reset edit-link' do %>
              <i class="fas fa-edit"></i>
            <% end %>
            <%= link_to to_let_go_item_path(to_let_go_item),
                        data: { turbo_method: :delete, turbo_confirm: '削除しますか？' }, class: 'text-reset delete-link' do %>
              <i class="far fa-times-circle mt-5"></i>
            <% end %>
          </div>
        </div>
      <% end %>
      <% if index < @to_let_go_items.size - 1 %>
        <div class="divider mb-3"></div>
      <% end %>
    <% end %>
  </div>
</div>
<%= paginate @to_let_go_items %>
