<h3 class="mx-3 mb-3">手放したいものリスト詳細</h3>
<div class="card card-style">
  <div class="content">
    <div class="d-flex mb-3">
      <div class="ms-auto">
        <%= image_tag @to_let_go_item.decorate.img(:thumb), size: '100x100', class: 'rounded-m' %>
      </div>
      <div class="w-100 ps-3">
        <h5><%= @to_let_go_item.decorate.item_name %></h5>
        <span class="font-900">カテゴリー：<%= @to_let_go_item.category.name %></span><br>
        <span>カテゴリーの具体例：<%= @to_let_go_item.category.description %></span><br>
        <br>
        <span class="font-900">手放す理由：<%= @to_let_go_item.reason.name %></span><br>
        <span>手放す理由の詳細：<%= @to_let_go_item.reason.description %></span><br>
        <br>
        <%= link_to '→ 手放す！', new_done_letting_go_item_path %><br>
        <%= link_to '→ 編集する', edit_to_let_go_item_path(@to_let_go_item), class: 'me-3' %>
        <%= link_to '→ 削除する', to_let_go_item_path(@to_let_go_item),
                    data: { turbo_method: :delete, turbo_confirm: '削除しますか？' } %>
      </div>
    </div>

  </div>
</div>
