<% content_for :title do %>
  <div class="header-title">マイページ</div>
<% end %>

<div class="card card-style">
  <div class="content">
    <h1>Users#show</h1>
    <ul class="">
      <li>username: <%= @user.username %></li>
      <li>email: <%= @user.email %></li>
    </ul>

    <%= link_to '→ 編集する', edit_user_registration_path %><br>
    <%= link_to '→ ログアウト', destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: '本当にログアウトしますか？' } %>
    <br>
    <%= link_to '→ 退会する', user_registration_path, data: { turbo_method: :delete, turbo_confirm: '本当に退会しますか？' } %>
  </div>
</div>

<% if @user.favorite_quotes.present? %>
  <h3 class="mx-4 mb-2 font-18">お気に入りの名言をランダムに表示</h3>
  <%= render 'quotes/quote', quote: @quote %>
<% end %>
