<% set_meta_tags title: '手放し実績ページ' %>
<% content_for :title, '手放し実績' %>

<div class="card card-style">
  <div class="content text-center">
    <%= render 'digest', user: @user %>
  </div>
</div>

<div class="card card-style">
  <div class="content text-center">
    <h3 class="mb-3 font-18">記録したアイテム数の合計</h3>
    <p class="mb-1"><i class="fas fa-lightbulb"></i>
      手放す候補：<span class="font-18 font-600"><%= @user.decorate.to_let_go_items_total %></span> 個</p>
    <p><i class="fas fa-dove"></i>
      手放し済み：<span class="font-18 font-600"><%= @user.decorate.done_letting_go_items_total %></span> 個</p>
  </div>
</div>

<% if @user.decorate.done_letting_go_items_total > 0 %>
  <div class="card card-style">
    <div class="content text-center">
      <h3 class="mb-5 font-18">手放せたものランキング</h3>
      <div class="divider-icon bg-yellow-dark my-4 mx-4"><i class="fas fa-crown font-17 color-yellow-dark bg-white"></i>
      </div>
      <h4 class="mb-3 font-16">カテゴリー 部門</h4>
      <%= render 'ranking', rank_items: @user.category_ranking %>
      <div class="divider-icon bg-yellow-dark my-4 mx-4"><i class="fas fa-crown font-17 color-yellow-dark bg-white"></i>
      </div>
      <h4 class="mb-3 font-16">手放した理由 部門</h4>
      <%= render 'ranking', rank_items: @user.reason_ranking %>
      <div class="divider-icon bg-yellow-dark my-4 mx-4"><i class="fas fa-crown font-17 color-yellow-dark bg-white"></i>
      </div>
      <h4 class="mb-3 font-16">手放した方法 部門</h4>
      <%= render 'ranking', rank_items: @user.way_ranking %>
    </div>
  </div>
<% end %>
