<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags(default_meta_tags) %>
    <%= favicon_link_tag('dove-solid.svg') %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="google-site-verification" content="LwAnfR6Q2JYgQB9FlXcDXsCkvtiEZ4cZRtzurl6QG3Y" />
    <!-- Font Awesome -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet">

    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
<!--    <div id="preloader"><div class="spinner-border color-highlight" role="status"></div></div>-->
    <div id="page">

      <%= render 'layouts/header' %>
      <%= render 'layouts/footer' %>

      <div class="page-content header-clear-medium">
        <%= render 'shared/flash_messages' %>

        <!-- Components and Page Elements Here-->
        <%= yield %>
      </div>

      <!-- Off Canvas Elements Here -->

    </div>
  </body>
</html>
