<% set_meta_tags title: 'ユーザー情報編集ページ' %>
<% content_for :title, 'ユーザー情報 編集' %>

<div class="card card-style">
  <div class="content">
    <p>
      アイコン、ユーザー名、メールアドレス、パスワードを変更できます。
    </p>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render 'users/shared/error_messages', resource: %>

      <% if resource.avatar.attached? %>
        <div class="text-center mb-2">
          <%= image_tag resource.decorate.img(:xl), { class: 'rounded-xl attached-image' } %>
        </div>
      <% end %>
      <div class="list-group upload-file-data disabled my-4 mb-2">
        <%= image_tag 'dummy-100X100.png', { id: 'image-data', class: 'align-self-center rounded-xl', width: 100, height: 100 } %>
      </div>
      <div class="file-data pb-4">
        <%= f.label :avatar, class: 'bg-highlight shadow-s rounded-s btn btn-l btn-full' do %>
          <p class="color-white font-600"><i class="fas fa-camera"></i> アップロード</p>
        <% end %>
        <%= f.file_field :avatar, accept: 'image/*', class: 'upload-file' %>
      </div>

      <div class="field input-style has-borders has-icon validate-field mb-4">
        <i class="fa fa-user"></i>
        <%= f.text_field :username, autofocus: true, class: 'form-control validate-name', placeholder: 'username' %>
        <%= f.label :username, class: 'color-highlight' %>
        <i class="fa fa-times disabled invalid color-red-dark"></i>
        <i class="fa fa-check disabled valid color-green-dark"></i>
      </div>

      <div class="field input-style has-borders has-icon validate-field mb-4">
        <i class="fa fa-envelope"></i>
        <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control validate-text',
                                  placeholder: 'email' %>
        <%= f.label :email, class: 'color-highlight' %>
        <i class="fa fa-times disabled invalid color-red-dark"></i>
        <i class="fa fa-check disabled valid color-green-dark"></i>
      </div>

      <div class="field input-style has-borders has-icon validate-field mb-4">
        <i class="fa fa-lock"></i>
        <%= f.password_field :current_password, autocomplete: 'current-password', class: 'form-control validate-text',
                                                placeholder: 'password' %>
        <%= f.label :current_password, class: 'color-highlight' %>
        <i class="fa fa-times disabled invalid color-red-dark"></i>
        <i class="fa fa-check disabled valid color-green-dark"></i>
      </div>

      <div class="divider divider-margins">
      </div>
      <h4 class="font-16 font-500">パスワードの変更</h4>
      <p class="mb-2">パスワードを変更したい場合は、以下に
        新しいパスワードを入力してください。<br>
        <% if @minimum_password_length %>
        パスワードは<%= @minimum_password_length %> 文字以上で設定してください。
      <% end %><br>
        パスワードを変更しない場合は、空欄のままでOKです。
      </p>

      <div class="field input-style has-borders has-icon validate-field mb-4">
        <i class="fa fa-lock"></i>
        <%= f.password_field :password, autocomplete: 'new-password', class: 'form-control validate-text',
                                        placeholder: 'new password（変更しない場合は入力不要）' %>
        <%= f.label :password, class: 'color-highlight' %>
        <i class="fa fa-times disabled invalid color-red-dark"></i>
        <i class="fa fa-check disabled valid color-green-dark"></i>
      </div>

      <div class="field input-style has-borders has-icon validate-field mb-4">
        <i class="fa fa-lock"></i>
        <%= f.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-control validate-text',
                                                     placeholder: 'new password（確認用）' %>
        <%= f.label :password_confirmation, class: 'color-highlight' %>
        <i class="fa fa-times disabled invalid color-red-dark"></i>
        <i class="fa fa-check disabled valid color-green-dark"></i>
      </div>

      <div class="actions mt-4">
        <%= f.submit 'Update',
                     class: 'btn btn-border btn-m btn-full mb-3 rounded-sm text-uppercase font-700 border-green-dark color-green-dark bg-theme', style: 'width: 100%' %>
      </div>
    <% end %>
  </div>
</div>
